{% extends "base.html" %}
{% block content %}


<div class="page-header">
</div>
  <div class="row">
    <div class="col-md-10">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Minhas Disciplinas</th>
      </tr>
      </thead>
      <tbody>
      {% for dado in disciplinas %}
        <tr>
          <td><a href='/tema?idDisciplina={{ dado.idDisciplina }}'>{{ dado.nomeD }}</a></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    </div>
  </div>
    <div class="right"><button id="idCadastra"> Cadastra </button></div>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script type="text/javascript">
    $(function () {
        $("#idCadastra").click(function () {
            window.location="cadastraDisciplina";
        });
    });
  </script>
{% endblock %}