{% extends "base.html" %}
{% block content %}


<div class="page-header">
</div>
  <div class="row">
    <div class="col-md-10">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Minhas Provas</th>
      </tr>
      </thead>
      <tbody>
      {% for dado in minhasprovas %}
        <tr>
          <td> {{ dado.idQuestao}}</td>
          <td> {{ dado.questao}}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script type="text/javascript">
    $(function () {
    });
  </script>
{% endblock %}