{% extends "base.html" %}
{% block content %}
<div class="page-header">

  <h1>Questões</h1>
</div>
  <div class="row">
    <div class="col-md-10">
    <table class="table table-striped">
      <thead>
      <tr>
            <th>ID </th>
            <th>Data </th>
      </tr>
      </thead>
      <tbody>
      {% for dado in provagerada %}
        <tr>
          <td><a href='provas?idProva={{ dado.idQuestao }}'>{{ dado.idQuestao }}</a></td>
          <td>{{}}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>